.Namedata-main
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
.Name-Icon
{
    order: 1;
    margin-right: 10%;
}
.Name-Name
{
    order: 2;
}
.main-Avatars
{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}