.header-main
{
    font-family: 'Pacifico';
    justify-content: center;
    text-align: center;
    padding-bottom: .2%;
    font-size:5vw;
    background-color: #3FC1C9;
    font-weight: 700;
    left: 50%;
    margin: auto;


}
