.Repo-main
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    border: 2px solid #364f6b;
}
.repo-texr
{
    font-family: 'Pacifico';
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: .2%;
    background-color: #3FC1C9;
    font-weight: 700;
    margin: auto;
    width: 100%;

    border-top: 7px solid #364f6b;
}
.rendering-repo-main
{
    display: flex;
  
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #364f6b;
    }
    .rendering-repo-main> .reponame
    {
      width: 50%;
        justify-self: center;

    }
    .rendering-repo-main> .repolanguage
    {
        width: 25%;
        justify-self: center;
        
    }
    .rendering-repo-main> .star
    {
        justify-self: end;
        width: 25%;
    }
    
    @media only screen and (max-width: 600px) 
{
    .rendering-repo-main
    {
        font-size: 11px;
    }
}

    @media only screen and (min-width: 600px) 
    {
        .rendering-repo-main
  {
      font-size: 13px;
  }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .repo-texr
  {
      font-size: 20px;
  }  
  .rendering-repo-main
  {
      font-size: 14px;
  }
}
@media only screen and (min-width: 922px) 
{
    .repo-texr
    {
        font-size: 22px;
    }    
    .rendering-repo-main
  {
      font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) 
{
    .repo-texr
  {
      font-size: 24px;
  } 
  .rendering-repo-main
  {
      font-size: 18px;
  }
    
}