.follower-main
{
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #3FC1C9;
    border-radius: 3px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
}
.rendering-main{
    max-width: 80%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.follower-num
{
    font-size: 3vw;
}
.followers-logo
{
    margin-right: 40%;
}